{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>{{ is_own_profile|yesno:"Your Profile ,Profile of " }}{{ profile_user.username }}</h2>
    <p>First Name: {{ profile_user.first_name }}</p>
    <p>Last Name: {{ profile_user.last_name }}</p>

    <h2>{{ is_own_profile|yesno:"Your Posts ,Posts by " }}{{ profile_user.username }}</h2>
    <div class="row">
        {% for post in user_posts %}
            <div class="col-md-4">
                <div class="card mb-3" style="width: 18rem;">
                    {% if post.object_image %}
                        <img src="{{ post.object_image.url }}" class="card-img-top" alt="Post Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.description|truncatewords:15 }}</p>
                        <p>Status: 
                            <span class="{% if post.is_solved %}solved{% else %}unsolved{% endif %}">{{ post.is_solved|yesno:"Solved,Unsolved" }}</span>
                        </p>
                        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">View Post</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>{{ profile_user.username }} has not created any posts yet.</p>
        {% endfor %}
    </div>

    {% if is_own_profile %}
    <h2>Your Bookmarked Comments</h2>
    <div class="bookmarked-comments">
        {% for bookmark in bookmarked_comments %}
            <div class="comment bg-light p-3 mb-2 rounded">
                <p>{{ bookmark.comment.text }}</p>
                <a href="{% url 'post_detail' bookmark.comment.post.id %}" class="btn btn-primary btn-sm">Go to Post</a>
            </div>
        {% empty %}
            <p>You have no bookmarked comments.</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
