body {
    background-image: url('/static/images/MysteriumBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h2{
    color: antiquewhite;
}

.cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    margin: 0 30px;
}

.card img {
    width: 100%;
    height: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary{
    background-color: darkblue;
}

.btn-primary:hover{
    background-color: purple;
}

.glider-contain {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 120px;
}

.glider .card {
    width: 250px;
}

.glider-next, .glider-prev{
    color: antiquewhite;
}

.glider-next:hover, .glider-prev:hover{
    color: blue;
}